.productWrapper {
  width: 100vw;
}

.productWrapper .mainProduct {
  width: 100%;
}

.relatedProducts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.relatedProducts .relatedJewel {
  width: 20%;
  color: #000;
  margin: 1rem;
  text-decoration: none;
}

.imageJewel img {
  width: 250px;
  height: 250px;
}

.relatedJewel .detailsJewel {
  margin: 0.2rem;
  font-weight: normal;
}

.mainProduct {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.detailsMainProduct {
  display: flex;
  flex-direction: column;
}

.mainImageJewel img {
  width: 400px;
  height: 400px;
}

.shoppingContainer {
  width: 100%;
}

.shoppingContainer .quantity {
  display: flex;
  justify-content: center;
}

.shoppingContainer .btnAddToCart {
  height: 2.1rem;
  width: 30%;
  border: 2px solid #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.shoppingContainer .btnAddToCart:hover {
  color: #fff;
  background-color: #000;
}

.quantity .quantityNumber {
  padding: 0.2rem 1rem;
}
